<html>

<head>
    <meta charset="UTF-8">
    <title>First Webpage</title>
</head>

<body>
    <h1>First Webpage</h1>
    <p>This is my first webpage!</p>
    <p>Check out <a href="https://www.w3schools.com/html/default.asp">W3Schools</a> for more HTML tutorials</p>
    <p>To learn more about web development, visit <a href="https://www.freecodecamp.org/">FreeCodeCamp</a></p>
    <p>Thank you for visiting!</p>
    <p>This webpage was created using HTML and CSS</p>
    <p>Created by: John Doe</p>
    <p>Last updated: 12/15/2022</p>
</body>

</html>